#top-nav {
  border-bottom: 1px solid $milk_white;
  font-family: "Sora", sans-serif;
  .navbar-nav {
    .nav-link {
      font-size: 12px;
      font-weight: 300;
      line-height: 6px;
      color: $black;
      transition: 0.3s;
      &:not(:last-child) {
        border-right: 1px solid $milk_white;
      }
      &:hover {
        color: $primary_orange;
      }
    }
  }
  .social-icons {
    li {
      svg {
        font-size: 12px;
        color: $text;
        transition: 0.3s;
        cursor: pointer;
      }
      &:hover {
        svg {
          transform: scale(0.9);
          color: $primary_orange;
        }
      }
    }
  }
}

#search-nav {
  border-bottom: 1px solid $milk_white;
  font-family: "Sora", sans-serif;
  .search-and-panel {
    form {
      width: 600px;
      max-width: 600px;
      input {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        border-radius: 50px;
        background-color: #f6f6f6;
        border-color: #f6f6f6;
        padding: 15px 55px 15px 20px;
        &:focus {
          box-shadow: none;
        }
      }
      button {
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 50px;
        padding: 20px 25px;
        background-color: $primary_orange;
        border: none;
        svg {
          fill: $white;
          font-size: 16px;
          font-weight: 400;
        }
        &:hover {
          background-color: $primary_orange_hover;
        }
      }
    }
    .admin-panel-icons {
      .find-location {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: $black;
        transition: 0.3s;
        span {
          border-bottom: 1px solid $black;
        }
        svg {
          transition: 0.3s;
        }
        &:hover {
          span {
            color: $primary_orange;
            border-bottom: 1px solid $primary_orange;
          }
          svg {
            transform: scale(0.8);
          }
        }
      }
      ul {
        li {
          a {
            color: $black;
            position: relative;
            transition: 0.3s;
            span {
              font-size: 9px;
              position: absolute;
              top: -9px;
              right: -8px;
              color: $white;
              background-color: $primary_orange;
              padding: 2px 4px;
              border-radius: 50px;
            }
          }
          &:not(:last-child) {
            border-right: 1px solid $milk_white;
          }
          &:hover {
            a {
              color: $primary_orange;
            }
          }
        }
      }
    }
  }
}

#menu-nav {
  font-family: "Sora", sans-serif;
  border-bottom: 1px solid $milk_white;
  .categories {
    width: 250px;
    max-width: 250px;
    background-color: $primary_orange;
    border-radius: 50px;
    padding: 15px 30px;
    svg {
      fill: $white;
    }
    .main-part {
      font-size: 15px;
      font-weight: 400;
      color: $white;
    }
  }
  .navbar-nav {
    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: $black;
      transition: 0.3s;
      &:hover {
        color: $primary_orange;
      }
    }
  }
  .support-center {
    .call-icon {
      padding: 10px 15px;
      background-color: #f6f6f6;
      border-radius: 50%;
    }
    .support-context {
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $primary_orange;
      }
      span {
        font-size: 12px;
        font-weight: 300;
        color: $text;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #top-nav {
    .navbar-nav {
      display: none;
    }
    .collapse:not(.show) {
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  #top-nav {
    .navbar-nav {
      display: none;
    }
  }
}
