.about-story {
  font-family: sora, Sans-serif;
  margin-bottom: 200px;
  .init-about {
    padding-bottom: 300px;
    h4 {
      max-width: 630px;
      width: 630px;
      margin: 0 auto;
      font-size: 26px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -2px;
      color: $black;
    }
  }
  .our-story {
    background-color: #faf5f3;
    position: relative;
    padding-top: 290px;
    .main-img {
      position: absolute;
      top: -250px;
      left: auto;
      img {
        border-radius: 15px;
      }
    }
    .story-cards-part {
      margin-bottom: 40px;
      h3 {
        font-size: 48px;
        font-weight: 500;
        line-height: 58px;
        letter-spacing: -2px;
        color: $black;
        margin-bottom: 35px;
      }
      .row {
        max-width: 850px;
        width: 850px;
        margin: 0 auto;
        .story-card {
          margin-bottom: 35px;
          h5 {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: $black;
            margin-bottom: 30px;
          }
          p {
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: $text;
          }
          .main-card-p {
            margin-bottom: 35px;
          }
        }
      }
    }
    .quote-story {
      margin-top: 75px;
      padding-bottom: 70px;
      .row {
        max-width: 830px;
        width: 830px;
        margin: 0 auto;
        [class^="col"] {
          &:first-child {
            padding-right: 50px;
            h5 {
              font-size: 20px;
              font-weight: 500;
              line-height: 28px;
              color: $black;
              margin-bottom: 30px;
            }
            p {
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              color: $black;
            }
          }
          &:last-child {
            p {
              font-size: 14px;
              font-weight: 300;
              line-height: 24px;
              color: $text;
            }
          }
        }
      }
    }
    .foot-img {
      position: absolute;
      bottom: -105px;
      left: 0;
    }
  }
}

.dark {
  .about-story {
    .init-about {
      h4 {
        color: $white;
      }
    }
    .our-story {
      background-color: $text;
      .story-cards-part {
        h3 {
          color: $white;
        }
        .row {
          .story-card {
            h5 {
              color: $white;
            }
            p {
              color: $light_grey;
            }
          }
        }
      }
      .quote-story {
        .row {
          [class^="col"] {
            &:first-child {
              h5 {
                color: $white;
              }
              p {
                color: $light_grey;
              }
            }
            &:last-child {
              p {
                color: $light_grey;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .about-story {
    .init-about {
      h4 {
        width: auto;
      }
    }
    .our-story {
      .main-img {
        width: 1100px;
        img {
          width: 100%;
        }
      }
      .col-images {
        [class^="col"] {
          display: flex;
          justify-content: center;
          img {
            width: 550px;
          }
        }
      }
      .foot-img {
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .about-story {
    .our-story {
      .main-img {
        top: -200px;
        width: 950px;
      }
      .col-images {
        [class^="col"] {
          img {
            width: 450px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .about-story {
    .init-about {
      padding-bottom: 250px;
    }
    .our-story {
      padding-top: 200px;
      .main-img {
        top: -180px;
        width: 750px;
      }
      .story-cards-part {
        .row {
          width: 750px;
        }
      }
      .col-images {
        [class^="col"] {
          img {
            width: 350px;
          }
        }
      }
      .quote-story {
        .row {
          width: 750px;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .about-story {
    .our-story {
      .main-img {
        width: 700px;
      }
      .story-cards-part {
        .row {
          width: 700px;
        }
      }
      .quote-story {
        .row {
          width: 560px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about-story {
    margin-bottom: 50px;
    .init-about {
      padding-bottom: 200px;
    }
    .our-story {
      padding-top: 170px;
      .main-img {
        top: -150px;
        left: 5%;
        width: 600px;
      }
      .story-cards-part {
        .row {
          width: 530px;
        }
      }
      .col-images {
        [class^="col"] {
          img {
            width: 250px;
          }
        }
      }
      .foot-img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .about-story {
    .our-story {
      .main-img {
        top: -130px;
        left: 10%;
        width: 500px;
      }
      .quote-story {
        .row {
          width: auto;
        }
        [class^="col"] {
          &:first-child {
            h5 {
              margin-bottom: 15px !important;
            }
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .about-story {
    .init-about {
      padding-bottom: 150px;
    }
    .our-story {
      padding-top: 130px;
      .main-img {
        top: -110px;
        left: 10%;
        width: 450px;
      }
      .story-cards-part {
        .row {
          width: auto;
        }
      }
      .col-images {
        [class^="col"] {
          img {
            width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 522px) {
  .about-story {
    .our-story {
      .main-img {
        top: -110px;
        left: 10%;
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 507px) {
  .about-story {
    .our-story {
      .col-images {
        [class^="col"] {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .about-story {
    .our-story {
      .col-images {
        [class^="col"] {
          &:last-child {
            display: none;
          }
          &:first-child {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .about-story {
    .our-story {
      .main-img {
        top: -90px;
        left: 8%;
        width: 350px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .about-story {
    .init-about {
      padding-bottom: 110px;
    }
    .our-story {
      .main-img {
        top: -60px;
        left: 9%;
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .about-story {
    .init-about {
      padding-bottom: 110px;
      h4 {
        font-size: 20px;
      }
    }
    .our-story {
      .main-img {
        top: -60px;
        left: 8%;
        width: 250px;
      }
    }
  }
}
