.testimonials {
  font-family: "Sora", Sans-serif;
  @include sectionHeader;
  .slick-slider {
    position: relative;
    height: 370px;
    .slick-dots {
      width: 110px;
      position: absolute;
      top: -80px;
      right: 30px;
      li {
        margin-right: 1px;
        button {
          &:hover {
            &::before {
              background-color: $primary_orange;
            }
          }
        }
      }
      .slick-active {
        margin-right: 4px;
        button:before {
          background-color: $primary_orange;
          width: 20px;
          border-radius: 10px;
        }
      }
      li button:before {
        content: "";
        background-color: $milk_white;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
  .slick-slide {
    margin: 0 20px 0 0;
  }
}

.dark {
  .testimonials {
    @include sectionHeaderDark;
    .slick-slider {
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        li {
          button {
            &:hover {
              &::before {
                background-color: $primary_orange;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .testimonials {
    .slick-slider {
      .slick-dots {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .testimonials {
    margin-bottom: 130px;
  }
}
