.brands {
  .row {
    [class^="col"] {
      img {
        transition: 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.dark {
  .brands {
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7440%) hue-rotate(152deg) brightness(93%) contrast(91%);
    }
  }
}
