.favourite-reads {
  @include sectionHeader;
  @include sectionBtns;
  @include modeCards;
  @include rating;
  .row > * {
    padding: 0;
    justify-content: center;
  }
  .favourite-cards {
    border: 1px solid $milk_white;
    border-radius: 15px;
    padding: 30px !important;
    [class^="col"] {
      &:not(:last-child) {
        border-right: 1px solid $milk_white;
      }
      img {
        width: 80px !important;
        margin-right: 20px;
      }
      .fav-card-div {
        margin: 0 15px;
        .book-card {
          border-right: 0 !important;
          .book-img-div {
            span {
              display: none !important;
            }
          }
          .book-info {
            padding-top: 0 !important;
          }
          .book-name {
            margin-bottom: 0 !important;
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $milk_white;
          padding-bottom: 15px;
        }
        &:not(:first-child) {
          padding-top: 15px;
        }
      }
    }
    .main-fav-card {
      padding-right: 0 !important;
      border-right: 1px solid $milk_white !important;
      img {
        width: 90% !important;
        margin-right: 0;
      }
      .book-card {
        border-right: none !important;
      }
    }
  }
}

.dark {
  .favourite-reads {
    @include sectionHeaderDark;
    @include modeCardsDark;
    .favourite-cards {
      border: 1px solid $text;
      [class^="col"] {
        &:not(:last-child) {
          border-right: 1px solid $text;
        }
        .fav-card-div {
          &:not(:last-child) {
            border-bottom: 1px solid $text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .favourite-reads {
    .favourite-cards {
      .main-fav-card {
        .book-img-div {
          span {
            right: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .favourite-reads {
    .favourite-cards {
      .main-fav-card {
        .book-img-div {
          span {
            right: 11px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .favourite-reads {
    .favourite-cards {
      [class^="col"] {
        img {
          width: 80px !important;
          margin-right: 10px;
        }
      }
      .main-fav-card {
        .book-img-div {
          span {
            right: 8px;
          }
        }
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .book-name {
            font-size: 13px;
          }
          .author {
            display: none;
          }
          .price {
            font-size: 15px;
          }
        }
      }
    }
    .rating {
      margin: 0;
      span:not(:last-child) i {
        font-size: 9px;
      }
      .total-star {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .favourite-reads {
    .favourite-cards {
      [class^="col"] {
        img {
          width: 80px !important;
          margin-right: 10px;
        }
      }
      .main-first {
        border-right: none !important;
      }
      .main-fav-card {
        .book-img-div {
          span {
            right: 12px;
          }
        }
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .book-name {
            font-size: 13px;
          }
          .author {
            display: block;
            font-size: 12px;
          }
          .price {
            font-size: 15px;
          }
        }
      }
    }
    .rating {
      margin: 3px 0 7px;
      span:not(:last-child) i {
        font-size: 9px;
      }
      .total-star {
        display: block;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .favourite-reads {
    .favourite-cards {
      [class^="col"],
      .main-fav-card {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .favourite-reads {
    .favourite-cards {
      [class^="col"] {
        width: 60%;
      }
      .main-fav-card {
        width: 40%;
        .book-img-div {
          span {
            right: 9px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .favourite-reads {
    .favourite-cards {
      .main-fav-card {
        .book-img-div {
          span {
            right: 8px;
          }
        }
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .author {
            font-size: 10px;
          }
        }
      }
    }
    .rating {
      span:not(:last-child) i {
        font-size: 9px;
      }
      .total-star {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .favourite-reads {
    [class^="col"] {
      width: 100% !important;
      &:first-child {
        display: none;
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .author {
            display: block;
            font-size: 10px;
          }
          .price {
            font-size: 13px;
          }
        }
      }
    }
    .main-second {
      display: none !important;
    }
    .favourite-cards {
      .main-fav-card {
        width: 100% !important;
        border-right: none !important;
        .book-info {
          display: none !important;
        }
      }
    }
  }
}
