.details-page {
  font-family: "Sora", sans-serif;
  .book-detail {
    .book-info,
    .book-photo {
      padding: 30px;
      border-radius: 15px;
      border: 1px solid $milk_white;
    }
    .book-info {
      height: 550px;
      min-height: 650px;
      .info-title {
        margin-bottom: 20px;
        .stock-mode {
          display: inline;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          padding: 2px 9px;
          border-radius: 3px;
          &.sale {
            color: rgb(130, 209, 117);
            background-color: rgba(130, 209, 117, 0.2);
          }
          &.sold {
            color: $primary_orange;
            background-color: rgb(246, 93, 78, 0.2);
          }
        }
      }
      .book-title {
        .book-name {
          font-size: 36px;
          line-height: 1.2222222222;
          margin-bottom: 10px;
          font-weight: 500;
        }
        .book-author-rate {
          padding-bottom: 15px;
          border-bottom: 1px solid $milk_white;
          align-items: center;
          div {
            font-size: 12px;
            font-weight: 300;
            color: $light_grey;
            span {
              color: $black;
            }
            &:not(:last-child) {
              padding-right: 20px;
              margin-right: 20px;
              border-right: 1px solid $milk_white;
            }
            &.author {
              line-height: 27px;
              span {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                  color: $primary_orange;
                }
              }
            }
            &.rate {
              .total-star {
                padding-left: 4px;
              }
            }
          }
        }
      }
      .price-desc {
        margin: 23px 0;
        padding-bottom: 21px;
        border-bottom: 1px solid $milk_white;
        .price {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.4;
          color: $primary_orange;
          margin-bottom: 15px;
        }
        .brief-desc {
          font-size: 14px;
          line-height: 1.714;
          font-weight: 300;
          color: $text;
          padding: 0 30px 0 0;
        }
      }
      .modal-actions {
        .modal-quantity {
          width: 120px;
          input {
            width: 65px;
          }
        }
        .detail-wish {
          font-size: 12px;
          line-height: 16px;
          font-weight: 300;
          border-radius: 0;
          border: none;
          letter-spacing: 0;
          color: $light_grey;
          background-color: transparent;
          transition: 0.3s;
          &:hover {
            color: $black;
          }
          i {
            color: $black;
            font-size: 15px;
          }
        }
        .section-btn {
          padding: 0 25px;
        }
      }
    }
  }
  .additional-data {
    .data-titles {
      h3 {
        position: relative;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        padding: 0 30px 13px;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          bottom: -1px;
          opacity: 0;
          transform: scale(0);
          transition: all 0.3s ease;
          background-color: $primary_orange;
        }
        &:not(.active-title) {
          color: $light_grey;
          transition: 0.3s;
          &:hover {
            color: $black;
            &::before {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        &.active-title {
          &::before {
            opacity: 1;
            transform: none;
          }
        }
      }
    }
    .data-content {
      padding: 35px 30px;
      border-radius: 15px;
      border: 1px solid $milk_white;
      .desc-data,
      .review-data,
      .vendor-data {
        max-width: 850px;
        margin: 0 auto;
      }
      .desc-data {
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          color: $text;
        }
      }
      .review-data {
        .review-item {
          .person-info {
            img {
              border-radius: 50%;
            }
            @include rating;
            .person-name {
              h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                color: $black;
              }
              span {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                color: $light_grey;
              }
            }
          }
          .person-review {
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: $text;
            margin: 20px 0 0 56px;
          }
        }
      }
      .vendor-data {
        div {
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          color: $black;
          span {
            font-weight: 300;
            color: $text;
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          @include rating;
        }
      }
    }
  }
  @include sectionHeader;
  @include rating;
  .section-header {
    h4 {
      font-size: 26px;
      line-height: 1.2307692308;
    }
  }
  @include modeCards;
}

.no-details {
  .no-details-content {
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-left: 8px solid $primary_orange;
    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  @include sectionBtns;
}

.dark {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        border: 1px solid $text;
      }
      .book-info {
        .book-title {
          .book-name {
            color: $white;
          }
          .book-author-rate {
            border-bottom: 1px solid $text;
            align-items: center;
            div {
              color: $light_grey;
              span {
                color: $milk_white;
              }
              &:not(:last-child) {
                border-right: 1px solid $text;
              }
              &.author {
                span {
                  &:hover {
                    color: $primary_orange;
                  }
                }
              }
            }
          }
        }
        .price-desc {
          border-bottom: 1px solid $text;
          .brief-desc {
            color: $light_grey;
          }
        }
        .modal-actions {
          .modal-quantity {
            input {
              height: 52px;
            }
          }
          .detail-wish {
            color: $light_grey;
            &:hover {
              color: $white;
            }
            i {
              color: $white;
            }
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          color: $white;
          &:not(.active-title) {
            color: $light_grey;
            transition: 0.3s;
            &:hover {
              color: $white;
              &::before {
                opacity: 1;
                transform: scale(1);
              }
            }
          }
          &.active-title {
            &::before {
              opacity: 1;
              transform: none;
            }
          }
        }
      }
      .data-content {
        border: 1px solid $text;
        .desc-data {
          p {
            color: $light_grey;
          }
        }
        .review-data {
          .review-item {
            .person-info {
              @include rating;
              .person-name {
                h4 {
                  color: $white;
                }
              }
            }
            .person-review {
              color: $milk_white;
            }
          }
        }
        .vendor-data {
          div {
            color: $white;
            span {
              color: $light_grey;
            }
            &:not(:last-child) {
              margin-bottom: 5px;
            }
            @include rating;
          }
        }
      }
    }
    @include sectionHeaderDark;
    @include rating;
    .section-header {
      h4 {
        font-size: 26px;
        line-height: 1.2307692308;
      }
    }
    @include modeCardsDark;
  }
}
