.details-page {
  font-family: "Sora", sans-serif;
  .book-detail {
    .book-info,
    .book-photo {
      padding: 30px;
      border-radius: 15px;
      border: 1px solid $milk_white;
    }
    .book-info {
      height: 550px;
      min-height: 650px;
      .info-title {
        margin-bottom: 20px;
        .stock-mode {
          display: inline;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          padding: 2px 9px;
          border-radius: 3px;
          &.sale {
            color: rgb(130, 209, 117);
            background-color: rgba(130, 209, 117, 0.2);
          }
          &.sold {
            color: $primary_orange;
            background-color: rgb(246, 93, 78, 0.2);
          }
        }
      }
      .book-title {
        .book-name {
          font-size: 36px;
          line-height: 1.2222222222;
          margin-bottom: 10px;
          font-weight: 500;
        }
        .book-author-rate {
          padding-bottom: 15px;
          border-bottom: 1px solid $milk_white;
          align-items: center;
          div {
            font-size: 12px;
            font-weight: 300;
            color: $light_grey;
            span {
              color: $black;
            }
            &:not(:last-child) {
              padding-right: 20px;
              margin-right: 20px;
              border-right: 1px solid $milk_white;
            }
            &.author {
              line-height: 27px;
              span {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                  color: $primary_orange;
                }
              }
            }
            &.rate {
              .total-star {
                padding-left: 4px;
              }
            }
          }
        }
      }
      .price-desc {
        margin: 23px 0;
        padding-bottom: 21px;
        border-bottom: 1px solid $milk_white;
        .price {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.4;
          color: $primary_orange;
          margin-bottom: 15px;
        }
        .brief-desc {
          font-size: 14px;
          line-height: 1.714;
          font-weight: 300;
          color: $text;
          padding: 0 30px 0 0;
        }
      }
      .modal-actions {
        .modal-quantity {
          width: 120px;
          input {
            width: 65px;
          }
        }
        .detail-wish {
          font-size: 12px;
          line-height: 16px;
          font-weight: 300;
          border-radius: 0;
          border: none;
          letter-spacing: 0;
          color: $light_grey;
          background-color: transparent;
          transition: 0.3s;
          &:hover {
            color: $black;
          }
          i {
            color: $black;
            font-size: 15px;
          }
        }
        .section-btn {
          padding: 0 25px;
        }
      }
    }
  }
  .additional-data {
    .data-titles {
      h3 {
        position: relative;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        padding: 0 30px 13px;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          bottom: -1px;
          opacity: 0;
          transform: scale(0);
          transition: all 0.3s ease;
          background-color: $primary_orange;
        }
        &:not(.active-title) {
          color: $light_grey;
          transition: 0.3s;
          &:hover {
            color: $black;
            &::before {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        &.active-title {
          &::before {
            opacity: 1;
            transform: none;
          }
        }
      }
    }
    .data-content {
      padding: 35px 30px;
      border-radius: 15px;
      border: 1px solid $milk_white;
      .desc-data,
      .review-data,
      .vendor-data {
        max-width: 850px;
        margin: 0 auto;
      }
      .desc-data {
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          color: $text;
        }
      }
      .review-data {
        .review-item {
          .person-info {
            img {
              border-radius: 50%;
            }
            @include rating;
            .person-name {
              h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                color: $black;
              }
              span {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                color: $light_grey;
              }
            }
          }
          .person-review {
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: $text;
            margin: 20px 0 0 56px;
          }
        }
      }
      .vendor-data {
        div {
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          color: $black;
          span {
            font-weight: 300;
            color: $text;
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          @include rating;
        }
      }
    }
  }
  @include sectionHeader;
  @include rating;
  .section-header {
    h4 {
      font-size: 26px;
      line-height: 1.2307692308;
    }
  }
  @include modeCards;
}

.no-details {
  .no-details-content {
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-left: 8px solid $primary_orange;
    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  @include sectionBtns;
}

.dark {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        border: 1px solid $text;
      }
      .book-info {
        .book-title {
          .book-name {
            color: $white;
          }
          .book-author-rate {
            border-bottom: 1px solid $text;
            align-items: center;
            div {
              color: $light_grey;
              span {
                color: $milk_white;
              }
              &:not(:last-child) {
                border-right: 1px solid $text;
              }
              &.author {
                span {
                  &:hover {
                    color: $primary_orange;
                  }
                }
              }
            }
          }
        }
        .price-desc {
          border-bottom: 1px solid $text;
          .brief-desc {
            color: $light_grey;
          }
        }
        .modal-actions {
          .modal-quantity {
            input {
              height: 52px;
            }
          }
          .detail-wish {
            color: $light_grey;
            &:hover {
              color: $white;
            }
            i {
              color: $white;
            }
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          color: $white;
          &:not(.active-title) {
            color: $light_grey;
            transition: 0.3s;
            &:hover {
              color: $white;
              &::before {
                opacity: 1;
                transform: scale(1);
              }
            }
          }
          &.active-title {
            &::before {
              opacity: 1;
              transform: none;
            }
          }
        }
      }
      .data-content {
        border: 1px solid $text;
        .desc-data {
          p {
            color: $light_grey;
          }
        }
        .review-data {
          .review-item {
            .person-info {
              @include rating;
              .person-name {
                h4 {
                  color: $white;
                }
              }
            }
            .person-review {
              color: $milk_white;
            }
          }
        }
        .vendor-data {
          div {
            color: $white;
            span {
              color: $light_grey;
            }
            &:not(:last-child) {
              margin-bottom: 5px;
            }
            @include rating;
          }
        }
      }
    }
    @include sectionHeaderDark;
    @include rating;
    .section-header {
      h4 {
        font-size: 26px;
        line-height: 1.2307692308;
      }
    }
    @include modeCardsDark;
  }
}

@media screen and (max-width: 1400px) {
  .details-page {
    .book-detail {
      .book-info {
        padding: 15px !important;
        .book-title {
          .book-author-rate {
            div {
              font-size: 11px;
            }
          }
        }
        .modal-actions {
          flex-direction: column;
          align-items: start !important;
          .modal-quantity {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        padding: 24px;
      }
      .book-info {
        .book-title {
          .book-name {
            font-size: 33px;
          }
          .book-author-rate {
            div {
              font-size: 10px;
              line-height: 16px !important;
            }
            .author {
              display: flex;
              flex-direction: column;
            }
            .rate {
              .total-star {
                margin: 0;
              }
            }
          }
        }
        .price-desc {
          .brief-desc {
            padding: 0;
          }
        }
      }
      .modal-actions {
        padding-bottom: 10px;
      }
      .modal-cat-tag {
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        padding: 14px;
      }
      .book-photo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .book-info {
        .book-title {
          .book-name {
            font-size: 33px;
          }
          .book-author-rate {
            div {
              font-size: 10px;
              line-height: 16px !important;
            }
            .author {
              display: flex;
              flex-direction: column;
            }
            .rate {
              .total-star {
                margin: 0;
              }
            }
          }
        }
        .price-desc {
          margin: 18px 0;
          .brief-desc {
            font-size: 12px;
            padding: 0;
          }
        }
        .modal-actions {
          padding-bottom: 10px;
          flex-direction: row !important;
          .modal-quantity {
            button,
            input {
              height: 40px !important;
            }
          }
          .detail-wish {
            span {
              display: none !important;
            }
          }
          .section-btn {
            line-height: 40px;
            span {
              display: none;
            }
          }
        }
        .modal-cat-tag {
          margin-top: 5px;
          div {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .rating {
            .total-star {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        padding: 30px;
      }
      .book-photo {
        margin-right: 0 !important;
        margin-bottom: 10px;
      }
      .book-info {
        .book-title {
          .book-name {
            font-size: 36px;
          }
          .book-author-rate {
            div {
              font-size: 13px;
              line-height: 25px !important;
            }
            .author {
              flex-direction: row;
            }
            .rate {
              .total-star {
                margin: 0;
              }
            }
          }
        }
        .price-desc {
          .brief-desc {
            padding: 0 30px 0 0;
          }
        }
      }
      .modal-actions {
        flex-direction: row;
        align-items: center !important;
        padding-bottom: 20px !important;
        .modal-quantity {
          margin-bottom: 10px;
        }
        .section-btn {
          span {
            display: initial !important;
          }
        }
      }
      .modal-cat-tag {
        margin-top: 20px !important;
        div {
          span {
            font-size: 14px !important;
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          font-size: 17px;
          line-height: 1.3;
        }
      }
    }
    .mode-cards {
      .detail-mode {
        &:nth-child(even) {
          .book-card {
            border-right: none !important;
          }
        }
      }
      .book-card {
        .book-info {
          text-align: center;
          .rating {
            justify-content: center;
            .total-star {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .details-page {
    .mode-cards {
      .detail-mode {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .details-page {
    .book-detail {
      .book-info {
        .book-title {
          .book-author-rate {
            .author {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          padding: 0 17px 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .details-page {
    .book-detail {
      .book-info,
      .book-photo {
        padding: 20px;
      }
      .book-info {
        .book-title {
          .book-name {
            font-size: 33px;
          }
          .book-author-rate {
            div {
              line-height: 20px !important;
            }
            .rate {
              .total-star {
                margin: 0;
              }
            }
          }
        }
        .price-desc {
          .brief-desc {
            padding: 0 30px 0 0;
          }
        }
      }
      .modal-actions {
        flex-direction: row;
        align-items: center !important;
        padding-bottom: 20px !important;
        .modal-quantity {
          margin-bottom: 10px;
        }
        .section-btn {
          span {
            display: initial !important;
          }
        }
      }
      .modal-cat-tag {
        margin-top: 20px !important;
        div {
          span {
            font-size: 11px !important;
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          font-size: 13px;
          padding: 0 17px 13px;
        }
      }
      .data-content {
        .desc-data {
          p {
            font-size: 12px;
          }
        }
        .review-data {
          .review-item {
            .person-info {
              .person-name {
                h4 {
                  font-size: 14px;
                  line-height: 25px;
                }
                span {
                  font-size: 12px;
                }
              }
            }
            .person-review {
              font-size: 12px;
              line-height: 22px;
            }
          }
        }
        .vendor-data {
          div {
            font-size: 12px;
          }
        }
      }
    }
    .mode-cards {
      .book-card {
        .book-info {
          .book-name {
            font-size: 14px;
          }
          .price {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .details-page {
    .book-detail {
      .book-info {
        .book-title {
          .book-name {
            font-size: 30px;
          }
          .book-author-rate {
            div {
              font-size: 10px !important;
              line-height: 18px !important;
            }
          }
        }
      }
      .modal-actions {
        flex-direction: row;
        align-items: center !important;
        padding-bottom: 20px !important;
        .modal-quantity {
          margin-bottom: 5px !important;
        }
        .section-btn {
          line-height: 40px !important;
          span {
            display: none !important;
          }
        }
      }
    }
    .additional-data {
      .data-titles {
        h3 {
          font-size: 12px;
          padding: 0 10px 13px;
        }
      }
      .data-content {
        .desc-data {
          p {
            font-size: 12px;
          }
        }
        .review-data {
          .review-item {
            .person-info {
              .person-name {
                h4 {
                  font-size: 14px;
                  line-height: 25px;
                }
                span {
                  font-size: 12px;
                }
              }
              .rating {
                span {
                  i {
                    font-size: 9px !important;
                  }
                }
              }
            }
            .person-review {
              font-size: 12px;
              line-height: 22px;
            }
          }
        }
        .vendor-data {
          div {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 305px) {
  .details-page {
    .book-detail {
      .book-info {
        .info-title {
          margin-bottom: 10px;
        }
        .book-title {
          .book-name {
            font-size: 27px;
          }
          .book-author-rate {
            div {
              font-size: 10px !important;
              line-height: 18px !important;
              &:not(:last-child) {
                padding-right: 10px;
                margin-right: 10px;
              }
            }
          }
        }
      }
      .modal-actions {
        flex-direction: row;
        align-items: center !important;
        padding-bottom: 20px !important;
        .modal-quantity {
          margin-bottom: 5px !important;
        }
        .section-btn {
          line-height: 40px !important;
          span {
            display: none !important;
          }
        }
      }
    }
  }
}
