.shop-books {
  @include modeCards;
  @include rating;
  margin-bottom: 70px;
  .row {
    margin: 0;
    font-family: "Sora", sans-serif;
    * {
      padding: 0;
    }
    .book-card {
      border-right: none;
      margin: 30px 0;
      .book-img-div {
        .book-img {
          width: 290px !important;
        }
      }
      .book-info {
        width: 90% !important;
        margin: 0 auto;
      }
    }
    .list-change {
      .book-img-div {
        .book-img {
          width: 240px !important;
          position: relative;
        }
        .book-img-hover {
          right: 10px;
        }
      }
      .book-info {
        .book-name {
          font-size: 20px;
        }
        .brief-desc {
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          color: $text;
          margin-top: 18px;
        }
        .cart-footer {
          margin-top: 10px;
          svg {
            margin-bottom: 5px;
          }
          .add-wish {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            padding: 0;
            letter-spacing: 0;
            border-radius: 50%;
            color: $black;
            border: none;
            margin-left: 5px;
            transition: 0.3s;
            background-color: transparent;
            i {
              margin: 4px 0;
              font-weight: 500;
            }
            .fa-solid {
              color: $primary_orange;
            }
            &:hover {
              background-color: $primary_orange;
              color: $white;
              &:has(.fa-solid) {
                background-color: $white !important;
              }
            }
          }
        }
      }
      @include sectionBtns;
    }
    .mode-cards {
      .shop-title-filter {
        border-bottom: 1px solid $milk_white;
        padding-bottom: 15px;
        .list-style-icon {
          svg,
          i {
            cursor: pointer;
            color: $black;
          }
          .btn {
            border: none;
            svg,
            i {
              color: $light_grey;
              &:hover {
                color: $black;
              }
            }
            &.active {
              svg,
              i {
                color: $black;
              }
            }
          }
        }
        .sort-func {
          select {
            border: none;
            outline: none;
            font-size: 12px;
            line-height: 24px;
            padding: 4px 5px 4px 3px;
            background-position: 100% center;
            background-size: 10px 10px;
            border-radius: 3px;
            text-align: right;
            color: $black;
            background-color: $white;
          }
          .page-item-count {
            border-left: 1px solid $milk_white;
            span {
              font-size: 12px;
              font-weight: 400;
              color: $light_grey;
            }
          }
        }
      }
      [class^="col-md"] {
        border-bottom: 1px solid $milk_white;
        &:not(:nth-child(3n)) {
          .book-card {
            border-right: 1px solid $milk_white;
          }
          .list-change {
            border-right: none !important;
          }
        }
      }
    }
    .feature-category {
      h4 {
        padding: 25px 40px 15px 40px;
        border-bottom: 1px solid $milk_white;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: $black;
      }
      .categories {
        padding: 30px 40px 24px !important;
        .feature-img {
          border-radius: 10px;
          cursor: pointer;
        }
        .feature-name {
          h5 {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: $primary_orange;
            }
          }
          span {
            font-size: 12px;
            font-weight: 300;
            line-height: 21px;
            color: $light_grey;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: $primary_orange;
            }
          }
        }
      }
    }
  }
  .filter-btn {
    display: none !important;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7142857143;
    border-radius: 20px;
    color: $white;
    background-color: $primary_orange;
    padding: 6px 24px;
  }
}

.shop-category {
  border: 1px solid $milk_white;
  border-radius: 15px;
  .cat-title {
    padding: 25px 40px 15px 40px;
    border-bottom: 1px solid $milk_white;
    .btn {
      border: none;
      font-size: 12px;
    }
    h4 {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      color: $black;
    }
  }
  .categories {
    padding: 30px 40px 40px;
    .rate-div {
      .total-star {
        transition: 0.3s;
      }
      &:hover {
        cursor: pointer;
        .rating {
          .total-star {
            color: $primary_orange;
          }
        }
      }
      &.active-rate {
        color: $primary_orange;
      }
    }
    .category {
      color: $text;
      transition: 0.3s;
      label {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        cursor: pointer;
      }
      &:hover {
        label,
        svg {
          color: $primary_orange;
        }
      }
    }
  }
  .activeCat {
    label,
    svg {
      color: $primary_orange;
    }
  }
  .price-filter {
    color: $light_grey;
    font-size: 12px;
    font-weight: 300;
    .range-show {
      margin-top: 25px;
      span {
        color: $black;
      }
    }
    p {
      font-weight: 500;
      margin-top: 10px;
      color: $black;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $primary_orange;
      }
    }
    .css-eg0mwd-MuiSlider-thumb {
      width: 12px;
      height: 12px;
      background-color: $white;
      border: 2px solid $black;
      cursor: ew-resize;
      &:hover {
        box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
      }
    }
    .css-187mznn-MuiSlider-root {
      color: $black;
      cursor: default;
    }
    .css-1gv0vcd-MuiSlider-track,
    .css-14pt78w-MuiSlider-rail {
      height: 2px;
      border: 0;
    }
    .css-1gv0vcd-MuiSlider-track {
      background-color: $black;
    }
    .css-14pt78w-MuiSlider-rail {
      background-color: #e5e5e5;
      cursor: default;
    }
  }
}

@keyframes hoverBtns {
  0% {
    opacity: 0;
    transform: translate(20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.dark {
  .shop-books {
    @include modeCardsDark;
    .row {
      .list-change {
        .book-info {
          .brief-desc {
            color: $light_grey;
          }
          .cart-footer {
            .add-wish {
              color: $white;
              background-color: transparent;
              &:hover {
                background-color: $primary_orange;
                color: $white;
              }
            }
          }
        }
        @include sectionBtns;
      }
      .mode-cards {
        .shop-title-filter {
          border-bottom: 1px solid $text;
          .list-style-icon {
            svg,
            i {
              color: $white;
            }
            .btn {
              svg,
              i {
                color: $text;
                &:hover {
                  color: $white;
                }
              }
              &.active {
                svg,
                i {
                  color: $white;
                }
              }
            }
          }
          .sort-func {
            select {
              color: $black;
              background-color: $white;
            }
            .page-item-count {
              border-left: 1px solid $light_grey;
              span {
                color: $light_grey;
              }
            }
          }
        }
        .book-card {
          .book-info {
            .rating {
              .total-star {
                color: $white;
              }
            }
          }
        }
        [class^="col-md"] {
          border-bottom: 1px solid $text;
          &:not(:nth-child(3n)) {
            .book-card {
              border-right: 1px solid $text;
            }
            .list-change {
              border-right: none !important;
            }
          }
        }
      }
      .feature-category {
        h4 {
          border-bottom: 1px solid $text;
          color: $white;
        }
        .categories {
          .feature-name {
            h5 {
              color: $white;
              &:hover {
                color: $primary_orange;
              }
            }
          }
        }
      }
    }
  }
  .shop-category {
    border: 1px solid $text;
    .cat-title {
      border-bottom: 1px solid $text;
      h4 {
        color: $white;
      }
    }
    .categories {
      .rate-div {
        &:hover {
          cursor: pointer;
          .rating {
            .total-star {
              color: $primary_orange;
            }
          }
        }
        &.active-rate {
          color: $primary_orange;
        }
      }
      .category {
        color: $white;
        &:hover {
          label,
          svg {
            color: $primary_orange;
          }
        }
      }
    }
    @include ratingDark;
    .activeCat {
      label,
      svg {
        color: $primary_orange;
      }
    }
    .price-filter {
      color: $white;
      .range-show {
        span {
          color: $white;
        }
      }
      p {
        color: $white;
        &:hover {
          color: $primary_orange;
        }
      }
      .css-187mznn-MuiSlider-root {
        color: $white;
      }
      .css-1gv0vcd-MuiSlider-track {
        background-color: $white;
      }
      .css-14pt78w-MuiSlider-rail {
        background-color: #e5e5e5;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .shop-books {
    .row {
      .book-card {
        .book-img-div {
          .book-img {
            width: 240px !important;
          }
        }
      }
      .feature-category {
        .categories {
          .feature-name {
            h5 {
              font-size: 12px;
            }
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .shop-books {
    .row {
      .book-card {
        .book-img-div {
          .book-img {
            width: 200px !important;
          }
        }
      }
      .list-change {
        .book-img-div {
          .book-img {
            width: 200px !important;
          }
        }
        .book-info {
          .brief-desc {
            font-size: 13px;
          }
        }
      }
      .feature-category {
        .categories {
          .feature-name {
            padding-left: 15px !important;
            h5 {
              font-size: 13px;
            }
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  .shop-category {
    .cat-title {
      .btn {
        font-size: 10px;
      }
      h4 {
        font-size: 13px;
      }
    }
    .categories {
      .category {
        label {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .shop-books {
    .row {
      .book-card {
        .book-img-div {
          .book-img {
            width: 150px !important;
          }
          .book-img-hover {
            right: 17px !important;
          }
        }
        .book-info {
          .book-name {
            font-size: 14px;
          }
          .author {
            font-size: 10px;
          }
          .price {
            font-size: 17px;
          }
        }
      }
      .list-change {
        .book-info {
          .author {
            font-size: 11px;
          }
          .brief-desc {
            font-size: 10px;
            line-height: 19px;
            margin-top: 8px;
          }
          .price {
            font-size: 18px;
          }
        }
        .section-btn {
          line-height: 46px;
          padding: 0 20px;
        }
      }
      .feature-category {
        .categories {
          .feature-name {
            display: none;
          }
        }
      }
    }
  }
  .shop-category {
    .cat-title {
      padding: 25px 20px 15px 20px;
      .btn {
        font-size: 10px;
      }
      h4 {
        font-size: 14px;
      }
    }
    .categories {
      padding: 30px 20px 40px;
      .category {
        label {
          font-size: 11px;
        }
      }
      .rate-div {
        .total-star {
          font-size: 10px;
        }
      }
    }
    .price-filter {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .shop-books {
    .row {
      .mode-cards {
        .shop-title-filter {
          flex-direction: column;
          .sort-func {
            margin-top: 10px;
            select {
              font-size: 9px;
              padding: 4px 5px 4px 0px;
            }
            .page-item-count {
              display: flex;
              align-items: center;
              span {
                font-size: 12px;
              }
            }
          }
        }
        .book-card {
          align-items: start !important;
          .book-img-div {
            width: 100%;
            .book-img {
              width: 120px !important;
            }
          }
          .book-info {
            width: 100% !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
            text-align: center;
            margin-top: 10px;
            .brief-desc {
              font-size: 9px;
            }
            .rating {
              justify-content: center;
            }
          }
        }
        .list-change {
          .book-info {
            text-align: left;
            padding-left: 10px !important;
            .rating {
              justify-content: start;
            }
            .cart-footer {
              flex-direction: column-reverse;
              .add-wish {
                margin-left: 0;
                margin-right: 25px;
              }
            }
          }
          .section-btn {
            line-height: 45px;
            padding: 0 8px;
            font-size: 10px !important;
          }
        }
        [class^="col-md"]:not(:nth-child(3n)) .book-card {
          border-right: none !important;
        }
      }
    }
  }
  .dark {
    .shop-books {
      .mode-cards {
        .book-card {
          border-right: none !important;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .shop-books {
    .row {
      .mode-cards {
        .shop-title-filter {
          flex-direction: row;
          margin-top: 15px;
          .sort-func {
            margin-top: 0;
          }
        }
        .book-card {
          .book-img-div {
            .book-img {
              width: 170px !important;
            }
          }
          .book-info {
            width: 100% !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
            text-align: center;
            margin-top: 10px;
            .brief-desc {
              font-size: 9px;
            }
            .rating {
              justify-content: center;
            }
          }
        }
        .list-change {
          .book-info {
            text-align: left;
            padding-left: 10px !important;
            .rating {
              justify-content: start;
            }
            .cart-footer {
              flex-direction: row;
            }
          }
          .section-btn {
            padding: 0 15px;
          }
        }
      }
      .feature-category {
        .categories {
          .feature-name {
            display: block;
            span {
              display: block;
            }
          }
        }
      }
    }
    .filter-btn {
      display: flex !important;
    }
  }
  .shop-category {
    display: none;
  }
}

@media screen and (max-width: 472px) {
  .shop-books {
    .row {
      .mode-cards {
        .shop-title-filter {
          flex-direction: column;
          margin-top: 15px;
          .sort-func {
            margin-top: 10px;
            .page-item-count {
              span {
                font-size: 10px;
              }
            }
          }
        }
        .book-card {
          .book-img-div {
            .book-img {
              width: 170px !important;
            }
          }
          .book-info {
            width: 100% !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
            text-align: center;
            margin-top: 10px;
            .brief-desc {
              font-size: 9px;
            }
            .rating {
              justify-content: center;
            }
          }
        }
        .list-change {
          .book-info {
            text-align: left;
            padding-left: 10px !important;
            .rating {
              justify-content: start;
            }
            .cart-footer {
              flex-direction: column-reverse;
            }
          }
          .section-btn {
            padding: 0 15px;
          }
        }
      }
    }
    .filter-btn {
      display: flex !important;
    }
  }
  .shop-category {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .shop-books {
    .row {
      .mode-cards {
        .shop-title-filter {
          flex-direction: row;
          align-items: start !important;
          margin-top: 15px;
          .sort-func {
            margin-top: 0;
            flex-direction: column-reverse;
            align-items: end !important;
            .page-item-count {
              margin-bottom: 10px;
              border-left: none !important;
            }
            select {
              margin-right: 0 !important;
            }
          }
        }
        .book-card {
          .book-img-div {
            .book-img {
              width: 140px !important;
            }
          }
        }
        .list-change {
          .book-info {
            text-align: left;
            padding-left: 10px !important;
            .rating {
              justify-content: start;
            }
            .cart-footer {
              flex-direction: row;
            }
          }
          .section-btn {
            svg {
              font-size: 13px;
            }
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .shop-books {
    .row {
      .mode-cards {
        .book-card {
          .book-img-div {
            width: 100%;
            .book-img {
              width: 100px !important;
            }
          }
        }
      }
    }
  }
}
