.shop-books {
  @include modeCards;
  @include rating;
  margin-bottom: 70px;
  .row {
    margin: 0;
    font-family: "Sora", sans-serif;
    * {
      padding: 0;
    }
    .book-card {
      border-right: none;
      margin: 30px 0;
      .book-img-div {
        .book-img {
          width: 290px !important;
        }
      }
      .book-info {
        width: 90% !important;
        margin: 0 auto;
      }
    }
    .list-change {
      .book-img-div {
        .book-img {
          width: 240px !important;
          position: relative;
        }
        .book-img-hover {
          right: 10px;
        }
      }
      .book-info {
        .book-name {
          font-size: 20px;
        }
        .brief-desc {
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          color: $text;
          margin-top: 18px;
        }
        .cart-footer {
          margin-top: 10px;
          svg {
            margin-bottom: 5px;
          }
          .add-wish {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            padding: 0;
            letter-spacing: 0;
            border-radius: 50%;
            color: $black;
            border: none;
            margin-left: 5px;
            transition: 0.3s;
            background-color: transparent;
            i {
              margin: 4px 0;
              font-weight: 500;
            }
            &:hover {
              background-color: $primary_orange;
              color: #fff;
            }
          }
        }
      }
      @include sectionBtns;
    }
    .mode-cards {
      .shop-title-filter {
        border-bottom: 1px solid $milk_white;
        padding-bottom: 15px;
        .list-style-icon {
          svg,
          i {
            cursor: pointer;
            color: $black;
          }
          .btn {
            border: none;
            svg,
            i {
              color: $light_grey;
              &:hover {
                color: $black;
              }
            }
            &.active {
              svg,
              i {
                color: $black;
              }
            }
          }
        }
        .sort-func {
          select {
            border: none;
            outline: none;
            font-size: 12px;
            line-height: 24px;
            padding: 0 5px 0 0;
            background-position: 100% center;
            background-size: 10px 10px;
            text-align: right;
            color: $black;
            background-color: $white;
          }
          .page-item-count {
            border-left: 1px solid $milk_white;
            span {
              font-size: 12px;
              font-weight: 400;
              color: $light_grey;
            }
          }
        }
      }
      [class^="col-md"] {
        border-bottom: 1px solid $milk_white;
        &:not(:nth-child(3n)) {
          .book-card {
            border-right: 1px solid $milk_white;
          }
          .list-change {
            border-right: none !important;
          }
        }
      }
    }
    .shop-category {
      border: 1px solid $milk_white;
      border-radius: 15px;
      .cat-title {
        padding: 25px 40px 15px 40px;
        border-bottom: 1px solid $milk_white;
        .btn {
          border: none;
          font-size: 12px;
        }
        h4 {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 500;
          color: $black;
        }
      }
      .categories {
        padding: 30px 40px 40px;
        .rate-div {
          .total-star {
            transition: 0.3s;
          }
          &:hover {
            cursor: pointer;
            .rating {
              .total-star {
                color: $primary_orange;
              }
            }
          }
          &.active-rate {
            color: $primary_orange;
          }
        }
        .category {
          color: $text;
          transition: 0.3s;
          label {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            cursor: pointer;
            &:hover {
              color: $primary_orange;
            }
          }
          input {
            accent-color: $black;
            cursor: pointer;
          }
        }
      }
      .price-filter {
        color: $light_grey;
        font-size: 12px;
        font-weight: 300;
        .range-show {
          margin-top: 25px;
          span {
            color: $black;
          }
        }
        p {
          font-weight: 500;
          margin-top: 10px;
          color: $black;
          cursor: pointer;
          transition: .3s;
          &:hover {
            color: $primary_orange;
          }
        }
        .css-eg0mwd-MuiSlider-thumb {
          width: 12px;
          height: 12px;
          background-color: $white;
          border: 2px solid $black;
          cursor: ew-resize;
          &:hover {
            box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
          }
        }
        .css-187mznn-MuiSlider-root {
          color: $black;
          cursor: default;
        }
        .css-1gv0vcd-MuiSlider-track,
        .css-14pt78w-MuiSlider-rail {
          height: 2px;
          border: 0;
        }
        .css-1gv0vcd-MuiSlider-track {
          background-color: $black;
        }
        .css-14pt78w-MuiSlider-rail {
          background-color: #e5e5e5;
          cursor: default;
        }
      }
    }
    .feature-category {
      h4 {
        padding: 25px 40px 15px 40px;
        border-bottom: 1px solid $milk_white;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: $black;
      }
      .categories {
        padding: 30px 40px 24px !important;
        .feature-img {
          border-radius: 10px;
          cursor: pointer;
        }
        .feature-name {
          h5 {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: $primary_orange;
            }
          }
          span {
            font-size: 12px;
            font-weight: 300;
            line-height: 21px;
            color: $light_grey;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: $primary_orange;
            }
          }
        }
      }
    }
  }
}

@keyframes hoverBtns {
  0% {
    opacity: 0;
    transform: translate(20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
